.crystalSection {
    background-color: #000;
    padding: 8rem 1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 30px;
  }
  
  .crystalCard {
    text-align: center;
    color: #fff;
  }
  
  .crystalImage {
    margin: 0 auto;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .crystalImage:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.7)) drop-shadow(0 0 25px rgba(173, 216, 230, 0.7));
  }
  
  .crystalImage1 {
    width: 80px;
  }
  
  .crystalImage2 {
    width: 100px;
  }
  
  .crystalImage3 {
    width: 120px;
  }
  
  .title {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .description {
    font-size: 0.9rem;
    color: #ccc;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }
  
    .crystalImage1 {
      width: 100px;
    }
  
    .crystalImage2 {
      width: 120px;
    }
  
    .crystalImage3 {
      width: 140px;
    }
  
    .title {
      font-size: 1.4rem;
    }
  
    .description {
      font-size: 1rem;
      max-width: 250px;
      margin: 0 auto;
    }
  }
  